option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    APP_PORT: 3000

  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced

container_commands:
  01_run_migrations:
    command: "docker exec $(docker ps -q) npm run db:migrate && npm run db:seed:all"
    leader_only: true
    ignoreErrors: true
